/* Sign in */

position: absolute;
width: 166px;
height: 61px;
left: 925px;
top: 68px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
/* identical to box height */

color: #000000;


/* Google sign in */

position: absolute;
width: 321px;
height: 65px;
left: 975px;
top: 872px;



/* Google */

box-sizing: border-box;

position: absolute;
width: 68px;
height: 65px;
left: 975px;
top: 872px;

background: url(google-logo-9808.png);
border: 1px solid #D9D9D9;
border-radius: 10px;


/* Instagram */

box-sizing: border-box;

position: absolute;
width: 68px;
height: 65px;
left: 1144px;
top: 872px;

background: url(logo-ig-png-32464.png);
border: 1px solid #D9D9D9;
border-radius: 10px;


/* Twitter */

box-sizing: border-box;

position: absolute;
width: 68px;
height: 65px;
left: 1228px;
top: 872px;

background: url(logo-twitter-png-5862.png);
border: 1px solid #D9D9D9;
border-radius: 11px;


/* Facebook */

box-sizing: border-box;

position: absolute;
width: 68px;
height: 65px;
left: 1059px;
top: 872px;

background: url(facebook-logo-493.png);
border: 1px solid #D9D9D9;
border-radius: 10px;



