/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.form-container{
  display: flex;
  min-height: 100vh;
  margin-right: 250px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}
.form-container-wrap{
  display: flex;
  flex-direction: column;
}

  


.Sign-in{

width: 166px;
height: 61px;
min-height: 100vh;
justify-content: center;
top: 68px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
}

.First-Name{
width: 422px;
height:60px;
padding: 10px;
margin-bottom: 0px;

flex: auto;
display: flex;
align-items: center;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
background: #FFFFFF;
border: 1px solid #D1D1D1;
border-radius: 10px;
color: #818181;
}
.button{
width: 422px;
height:60px;
padding: 10px;
margin-bottom: 0px;

text-align: center;
flex: auto;
display: flex;
align-items: center;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
background: #FFFFFF;
border: 1px solid #D1D1D1;
border-radius: 10px;
color: #818181;
}


/* Rectangle 2 */

/* box-sizing: border-box;

position: absolute;
width: 422px;
height: 60px;
left: 925.01px;
top: 201px;

background: #FFFFFF;
border: 1px solid #D1D1D1;
border-radius: 10px; */




